body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    height: 145px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 145px;
}

.logo img {
    width: 259px;
    height: 107px;
    margin-left: 47px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 10px;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    color: #036C00;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

main {
    padding: 0px;
}


h2 {
    color: #4CAF50;
    text-align: center;
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
}

a {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Inter", sans-serif;
}

#intro {
    position: relative;
    text-align: center;
    color: white;
}

.image-container1 {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.image-container1 img {
    width: 100%;
    height: 875px;
    transition: opacity 0.5s;
}

.image-container1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    z-index: 2;
}

.intro-text h1 {
    font-size: 80px;
    font-weight: bold; 
    margin: 0;
}

.intro-text p {
    font-size: 30px; 
    font-weight: bold; 
    line-height: 1.6; 
    color: #ffffff;
    margin: 10px 0; 
}

.image-container {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.image-container img {
    width: 100%;
    opacity: 0.7;
    transition: opacity 0.5s;
}


.image-container img:hover {
    opacity: 1;
}

/* Estilo del div de satpma */

.satpma {
    width: 75%; 
    height: 500px;
    margin: 0 auto; 
    margin-bottom: 200px;
    text-align: center; 
    padding: 20px; 
    background-color: #ffffff; 
}

.satpma h2 {
    color: #036C00; 
    font-size: 60px; 
    margin-bottom: 20px; 
}

.satpma p {
    font-size: 30px; 
    color: #333333; 
    margin-bottom: 20px; 
    font-weight: 500;
}

.satpma .btn {
    display: inline-block; 
    padding: 30px 140px; 
    color: #ffffff; 
    background-color: #036C00; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    border: none; 
}

.satpma .btn:hover {
    background-color: #004d00; 
}

/* Mision y vision */
.misionvision h2 {
    color: #036C00;
}
.mision {
    background-color: #F4FFF1;
    display: flex;
    height: 623px;
}

.mision img {
    height:623px;
}
.misiontext {
    width: 50%;
    padding: 50px;
    font-size: 28px;
    text-align: left;
    margin-left: 55px;

}

.misiontext h2 {
    color: #036C00; 
    font-size: 60px; 
    margin-bottom: 20px; 
    text-align: left;
}

.misiontext p {
    width: 727px;
    font-weight: 500;
}

.misionimg {
    width: 50%;
}

.vision {
    background-color: #F4FFF1;
    display: flex;
    height: 623px;
}

.vision img {
    height: 623px;
}
.visiontext {
    width: 50%;
    padding: 50px;
    font-size: 28px;
    text-align: left;
    margin-left: 55px;
    margin-top: 20px;
}

.visiontext h2 {
    color: #036C00; 
    font-size: 60px; 
    margin-bottom: 20px; 
    text-align: left;
}

.visiontext p {
    width: 727px;
    font-weight: 500;
}

.visionimg {
    width: 50%;
}
/* Servicios */

#servicios {
    position: relative;
    text-align: center;
    color: white;
}

.image-container2 {
    position: relative;
    overflow: hidden;
}

.image-container2 img {
    width: 100%;
    height: 875px;
    opacity: 50%;
}

.servicios-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    width: 1500px;
}

.parrafoservicios {
    display: flex;
}

.servicios-text h2 {
    font-size: 60px;
    font-weight: bold; 
    margin: 0;
    color: #036C00;
}

.servicios-text p {
    font-weight: 300; 
    line-height: 1.6; 
    color: #000000;
    margin: 10px 0; 
    font-size: 30px;
    text-align: left;
}

.material-symbols-outlined {
    color: #13BC10;
    text-align: center;
}

/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px 0;
    height: 320px;
}

footer img {
    width: 22px;
    height: 22px;
}

.instagram {
    margin-top: 50px;
}

.x img {
    margin-top: 50px;
}

.copy {
    margin-top: 50px;
}

footer a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  footer a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #13BC10;
    background-color: transparent;
    text-decoration: underline;
  }


@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

/* Supply chain */

#supply-chain-system {
    width: 75%; 
    margin: 0 auto; 
    margin-bottom: 100px;
    text-align: left; 
    padding: 20px; 
    background-color: #ffffff; 
}

#supply-chain-system h2 {
    color: #036C00; 
    font-size: 50px; 
    margin-bottom: 50px; 
    text-align: center;
}

#supply-chain-system h3 {
    color: #036C00; 
    font-size: 40px; 
    margin-top: 20px; 
}

#supply-chain-system h4 {
    color: #036C00; 
    font-size: 30px; 
    margin-top: 20px; 
}

#supply-chain-system h5 {
    color: #036C00; 
    font-size: 25px; 
    margin-top: 15px; 
    margin-bottom: 10px;
}

#supply-chain-system p {
    font-size: 25px; 
    color: #333333; 
    margin-bottom: 35px; 
    font-weight: 500;
}


/* Style del .js */

.nav-toggle {
    display: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    display: none;
    z-index: 1000;
}

.back-to-top.visible {
    display: block;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav ul.visible {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        width: 100%;
    }

    nav ul li a {
        width: 100%;
        display: block;
        text-align: left;
        padding: 10px;
    }
}
